html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	line-height: 1.5;
  color: #333;
}

#sapper {
	position: relative;
	width: 100%;
  height: 100%;
  display: flex;
	flex-flow: column;
	justify-content: center;
}
